<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lvweijie.common">

    <application>
        <activity android:name=".acvititys.CommonActivity">
        </activity>
        <activity android:name=".acvititys.ProxyAcitivity">
        </activity>
    </application>

</manifest>